<!DOCTYPE html>
<html lang="en">
<!-- 485 P2 YC Qiu & Yiran Li -->

<head>
    <title>insta485</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/css/style.css')}}">
</head>

<body>
    <div class="top-tag">
        <a href="/"><img src="{{url_for('static', filename='images/home.png')}}" class="home-logo" alt="text"
                height="60"></a>
        <span class="insta">insta485</span>
        <span class="explore"><a href="/explore/">explore</a>|<a href="/users/{{logname}}/">{{logname}}</a></span>
    </div>

    <div>
        <img class="profile" src="{{url_for('uploads', filename=user_img_url)}}" alt="text" height="80">{{logname}}
    </div>

    <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
    <form action="/accounts/?target=/accounts/edit/" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" />
        <input type="text" name="fullname" value="{{fullname}}" required />
        <input type="text" name="email" value="{{email}}" required />
        <input type="submit" name="update" value="submit" />
        <input type="hidden" name="operation" value="edit_account" />
    </form>
    <a href="/accounts/password/">Change password</a>
    <a href="/accounts/delete/">Delete account</a>
</body>

</html>