<!DOCTYPE html>
<html lang="en">
<!-- 485 P1 YC Qiu -->

<head>
    <title>insta485</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/css/style.css')}}">
</head>

<body>
    <div class="top-tag">
        <a href="/"><img src="{{url_for('static', filename='/images/home.png')}}" class="home-logo" alt="text"
                width="237" height="178"></a>
        <span class="insta">insta485</span>
        <span class="explore"><a href="/explore/">explore</a>|<a href="/users/{{logname}}/">{{logname}}</a></span>
    </div>

    <div class="detail-page">
        <p class="profile">Followers</p>
        <!-- TODO: currently has error, pass followers as users instead of username -->
        {% for f in user.followers_list %}
        <p>
            <img src="{{url_for('uploads', filename=f.filename)}}" class="profile" alt="text" height="80">
            <a href="/users/{{f.username}}/">{{f.username}}</a>
            {% if f.logname != f.username %}
            {% if f.logname_follows_username %}
            following
        <form action="/users/{{f.username}}/following/?target=/users/{{f.username}}/followers/" method="post"
            enctype="multipart/form-data">
            <input type="submit" name="unfollow" value="unfollow" />
            <input type="hidden" name="username" value="{{f.username}}" />
            <input type="hidden" name="operation" value="unfollow" />
        </form>
        {% else %}
        not following
        <form action="/users/{{f.username}}/following/?target=/users/{{f.username}}/followers/" method="post"
            enctype="multipart/form-data">
            <input type="submit" name="follow" value="follow" />
            <input type="hidden" name="username" value="{{f.username}}" />
            <input type="hidden" name="operation" value="follow" />
        </form>
        {% endif %}
        {% endif %}
        </p>
        {% endfor %}

    </div>


</body>


</html>